/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

#container {

}
.box{
    width: 500px;

}
.box .name{
    /*font-size: 80%;*/
}

.tab{
    position: absolute;
    top: 20px;
    height: 17px;
}


.box a{
    font-family: verdana;
    font-size:70%;
    display: block;
}

.txt {
    width: 300px;
    height: 21px;
    line-height: 19px;
    overflow: hidden;
}

.txt a{
    list-style-type: disc;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#newsGrp{
    position: absolute;
    height: 271px;
    padding-top: 50px;
    padding-left: 30px;
}


.titleShowBorder{

    border: 1px solid gainsboro;
    border-bottom: 0px;
}
.titleHideBorder{
    border: 0px solid;
    color: dodgerblue;
}
#newsTitle{
    text-align: center;
    left: 15px;
    width: 60px;
    height: 30px;
}
#news{
    position: relative;
}

#entertainTitle{
    text-align: center;
    margin-left: 20px;
    left: 58px;
    width: 60px;
    height: 30px;

}

#sportsTitle{
    text-align: center;
    margin-left: 40px;
    left: 100px;
    width: 70px;
    height: 30px;
}

.btnMore{
    width: 55px;
    height: 35px;
    border: solid 1px gainsboro;

}
.mainUl{
    color: black;
    list-style-type: disc;
}