.hide {display: none;}
.show {display: block;}

.contentBox {width:250px;}

.contentPart {width:125px; float: left; text-align: center}
.contentPart p {font-size: 12px;text-align: center; margin: 0px 4px;
}

.contentTitle h1 {font-size: 20px; border-bottom: 1px black solid;}

.contentBtn {float:left;text-align: center;width: 250px}
